<nav class="navbar navbar-light bg-white rounded-0 border-0 p-2">
  <div class="col-sm-4">
    <a class="navbar-brand mr-4 d-inline" href="#">
      <img src="../assets/pic/upGov.png" width="65" height="65" class="d-inline-block align-top" alt="" />
    </a>
  </div>
  <div class="col-sm-4"><!--headSpan -->
    <h4 class="hh4 text-center">Swachh Uttar Pradesh Gramin 2018</h4>
    <!-- <legend><small>Choose a date</small></legend> -->
    <!-- <fieldset class="col-sm-12">
      <input type="date" class="form-control col-sm-6 d-inline-block ml-3" name="trip" value="2018-07-22" min="2018-01-01" max="2018-12-31" />
      <button class="btn btn-primary col-sm-5 d-inline-block" type="button">Download excel</button>
    </fieldset> -->
  </div>
  <div class="col-sm-4 text-right">
    <div class="d-inline float-right"><!--pos-rel pos-left-->
      <img src="../assets/pic/qci.png" width="65" height="70" class="d-inline-block align-top" alt="" />
    </div>
  </div>
  <!-- <input type="date"  (change)="getVal()"  [(ngModel)]='value' min={{json.rangeFrom}} max={{json.rangeTo}}
    style="border:2px solid gray; border-radius:10px"> -->
</nav>
<div class="wrapper" style="height:100%">
  <form class="form-signin loginBox"  >
    <div class="row justify-content-md-center" >
      <!-- <div class="col-12 align-center" >
        <img style="margin-left:100px" src="./assets/c1.png" alt="">

      </div>
      <div class="col-12 align-center" >
        <b><p style="margin-left:135px">coal</p></b>
      </div> -->
    </div>
    <br>
    <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus=""  [(ngModel)]='email' />
    <br>
    <input type="password" class="form-control" name="password" placeholder="Password" required=""  [(ngModel)]='password'/>
    <br>
    <label class="checkbox">
      <input type="checkbox"   value="remember-me" id="rememberMe" name="rememberMe"> Remember me
    </label>

    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)='login()'>Login</button>
  </form>
</div>
