<div *ngIf="show" class="section7 mt-3">
  <br />
  <h3>Villages Data</h3>
  <div class="row m-0" style="overflow-x:auto;overflow-y:auto">
    <div class="col-12">
      <table class="table  table-striped">
        <thead>
          <tr>
            <th *ngFor="let head of headers" scope="col">{{head}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of rowData">
            <td *ngFor="let data of row">{{data}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
