<div *ngIf="show" class="section7">
  <br>
  <h4 class="text-center">Village Data</h4>
  <br><br>
  <div class="row" style="overflow-x: auto; overflow-y : auto" >

    <div class="col-12" >

      <table class="table" >
        <thead>
          <tr>
            <th *ngFor="let head of headers" scope="col">{{head}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of rowData">
            <td *ngFor="let data of row" >{{data}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
