<div class="container-fluid">

  <div class="row justify-content-center">
    <div class="col-7 s1s1 p-2">
      <div class="col-sm-12 bg-white h100">
        <div class="map-chart" echarts [options]="option1" (chartClick)="onMapEvent($event,'chartClick')"></div>
      </div>
    </div>
    <div class="col-5 s1s2 p-2">
      <div class="col-sm-12 bg-white h100 p-0">

        <h5>UP Navigation Tree - {{cName}} (Selected) </h5>

        <div class="tree-chart" echarts [options]="option2" (chartClick)="onTreeEvent($event,'chartClick')"></div>
      </div>

    </div>
  </div>
</div>
