<div *ngIf="show" >
  <h3>ODF Villages</h3>
  <div class="container-fluid"  >
    <div class="row justify-content-center">
      <div class="col-4 p-2">
        <div class="col-sm-12 s6s1 pt-3 pb-3">
           <div class="donut-chart" echarts [options]="option1" ></div>
        </div>
      </div>
      <div class="col-4 p-2">
        <div class="col-sm-12 s6s2 pt-3 pb-3">
          <!-- <h3>Villages</h3> -->

          <div class="row col-sm-12 m-0 p-0">
            <div class="col-sm-12 ">
              <div class="border br-rnd">
                <strong class="d-block col-sm-12 row m-0">
                  <h6 class="col-sm-10 float-left pl-0 pr-0 pt-1 m-0 text-left">{{data21}}</h6>
                  <p class="col-sm-2 float-right p-0">&nbsp;&nbsp;{{count21}}</p>
                </strong>
              </div>
            </div>
            <div class="col-sm-12 ">
              <div class="border br-rnd">
                <strong class="d-block col-sm-12 row m-0">
                  <h6 class="col-sm-10 float-left pl-0 pr-0 pt-1 m-0 text-left">{{data22}}</h6>
                  <p class="col-sm-2 float-right p-0">&nbsp;&nbsp;{{count22}}</p>
                </strong>
              </div>
            </div>
            <div class="col-sm-12 ">
              <div class="border br-rnd">
                <strong class="d-block col-sm-12 row m-0">
                  <h6 class="col-sm-10 float-left pl-0 pr-0 pt-1 m-0 text-left">{{data23}}</h6>
                  <p class="col-sm-2 float-right p-0">&nbsp;&nbsp;{{count23}}</p>
                </strong>
              </div>
            </div>
            <div class="col-sm-12 ">
              <div class="border br-rnd">
                <strong class="d-block col-sm-12 row m-0">
                  <h6 class="col-sm-10 float-left pl-0 pr-0 pt-1 m-0 text-left">{{data24}}</h6>
                  <p class="col-sm-2 float-right p-0">&nbsp;&nbsp;{{count24}}</p>
                </strong>
              </div>
            </div>
            <div class="col-sm-12 ">
              <div class="border br-rnd">
                <strong class="d-block col-sm-12 row m-0">
                  <h6 class="col-sm-10 float-left pl-0 pr-0 pt-1 m-0 text-left">{{data25}}</h6>
                  <p class="col-sm-2 float-right p-0">&nbsp;&nbsp;{{count25}}</p>
                </strong>
              </div>
            </div>
            <div class="col-sm-12 ">
              <div class="border br-rnd">
                <strong class="d-block col-sm-12 row m-0">
                  <h6 class="col-sm-10 float-left pl-0 pr-0 pt-1 m-0 text-left">{{data26}}</h6>
                  <p class="col-sm-2 float-right p-0">&nbsp;&nbsp;{{count26}}</p>
                </strong>
              </div>
            </div>
            <div class="col-sm-12 ">
              <div class="border br-rnd">
                <strong class="d-block col-sm-12 row m-0">
                  <h6 class="col-sm-10 float-left pl-0 pr-0 pt-1 m-0 text-left">{{data27}}</h6>
                  <p class="col-sm-2 float-right p-0">&nbsp;&nbsp;{{count27}}</p>
                </strong>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 p-2">
        <div class="col-sm-12 s6s3 pt-3 pb-3">
          <!-- <h5>Number of Aanganwadi covered  <b> 10 </b> </h5>
           --><div class="donut-chart" echarts [options]="option3" ></div>
        </div>
      </div>
    </div>
  </div>
</div>
