.border.br-rnd .col-sm-2{
    border-width: 0px 0px 0px 2px;
    border-style: solid;
    -webkit-border-image: -webkit-gradient( linear, 0 0, 100% 0, from(#fff), to(rgba(0, 0, 0, 0.3 ))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient( left, #fff, rgba(0, 0, 0, 0.3 )) 1 100%;
    -moz-border-image: -moz-linear-gradient( left, #fff, rgba(0, 0, 0, 0.3 )) 1 100%;
    -o-border-image: -o-linear-gradient( left, #fff, rgba(0, 0, 0, 0.3 )) 1 100%;
    border-image: linear-gradient( to left, #fff, rgba(0, 0, 0, 0.3 )) 1 100%;
}