<div class="container-fluid">

  <div class="row justify-content-center">

    <div class="col-4 s3s1 p-2">
      <div class="col-sm-12 bg-white">
        <!-- Type of Disposal- Bar Chart -->
        <div echarts [options]="option1" ></div>
      </div>
    </div>
    <div class="col-4 s3s2 p-2">
      <div class="col-sm-12 bg-white">
        <!-- Incidents of open defecation- Bar Chart -->
        <div echarts [options]="option2" ></div>
      </div>
    </div>
    <div class="col-4 s3s3 p-2">
      <div class="col-sm-12 bg-white">
        <!-- Acailablity of water -->
        <div echarts [options]="option3" ></div>
      </div>
    </div>
  </div>
</div>
