<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-4 s2s1 p-2">
      <div class="col-sm-12 bg-white pt-3 pb-1">
        <div class="donut-chart" echarts [options]="option1"></div>
      </div>
    </div>
    <div class="col-4 s2s2 p-2">
      <div class="col-sm-12 bg-white pt-3 pb-1">
        <div echarts [options]="option2"></div>
      </div>
    </div>
    <div class="col-4 s2s3 p-2">
      <div class="col-sm-12 bg-white pt-3 pb-1">
        <!-- Usage - Pie Chart -->
        <div class="donut-chart" echarts [options]="option3"></div>
      </div>
    </div>
  </div>
</div>
