<nav class="navbar navbar-light bg-white p-0">
  <a class="navbar-brand" href="#">
    <img src="../assets/pic/upGov.png" width="45" height="45" class="d-inline-block align-top" alt="" style="margin-left:40px">
  </a>
  <span style="text-center">
    <h4>Swachh UP 2018</h4>
  </span>

  <!-- <input type="date"  (change)="getVal()"  [(ngModel)]='value' min={{json.rangeFrom}} max={{json.rangeTo}}
    style="border:2px solid gray; border-radius:10px"> -->

  <div class="form-inline my-2 my-lg-0">
    <img src="../assets/pic/qci.png" width="40" height="45" class="d-inline-block align-top" alt="" style="margin-right:40px">
  </div>
</nav>
<div class="container-fluid text-center">
  <div class="section1 mt-3" style="height:400px">
    <app-section1></app-section1>
  </div>
  <div class="section2" style="height:375px">
    <app-section2></app-section2>
  </div>
  <div class="section3" style="height:375px">
    <app-section3></app-section3>
  </div>
  <div class="section4 ts">
    <app-section4></app-section4>
  </div>
  <br />
  <div class="section6 bg-white">
    <br />
    <app-section6></app-section6>
  </div>

  <div>
    <app-section7></app-section7>
  </div>

  <br />
</div>
