<nav class="navbar navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="#">
    <img src="../assets/pic/upGov.png" width="60" height="60" class="d-inline-block align-top" alt="" style="margin-left:40px">
  </a>
  <span style="text-center">
    <h4>UP Dashboard</h4>
  </span>
  <div class="form-inline my-2 my-lg-0">
    <img src="../assets/pic/qci.png" width="50" height="60" class="d-inline-block align-top" alt="" style="margin-right:40px">
  </div>
</nav>
<div class="container-fluid text-center">
  <div class="section1 bg-white">
    <app-section1></app-section1>
  </div>
  <div class="section2 bg-white">
    <app-section2></app-section2>
  </div>
  <div class="section3 bg-white">
    <app-section3></app-section3>
  </div>
  <div class="section4 bg-white">
    <app-section4></app-section4>
  </div>
  <!--<div class="section5">
    <app-section5></app-section5>
  </div>-->
  <br>
  <h3>ODF Villages</h3>
  <br>
  <div class="section6 bg-white">
    <app-section6></app-section6>
  </div>
<br>
<br><br><br>
</div>
<!-- <div echarts [options]="options" ></div> -->